
choice SELECT_CODE_GEN_FORMAT
    prompt "Select the format of the generated code"
    default SELECT_CODE_GEN_FORMAT_DUMMY

config SELECT_CODE_GEN_FORMAT_DUMMY
    bool "Gen only loginfo to file"
config SELECT_CODE_GEN_FORMAT_LLVM
    bool "Gen LLVM IR"
endchoice

choice SELECT_PARSER
    prompt "Select the parser to use"
    default SELECT_PARSER_TOP_DOWN

config SELECT_PARSER_TOP_DOWN
    bool "Use top down parser."
endchoice


config OPEN_DEBUG
    bool "Open debug config for compile"
    default y